
@section AlertsSection {
    @await Html.PartialAsync("_Alert")
}
<table id="employeesTable" class="table-custom hover cell-border table-striped text-center">
    <thead>
        <tr>
            <th>Emp Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Grade</th>
            <th>Client</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmpCode</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
                <td>@employee.Grade</td>
                <td>@employee.Client</td>
                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <button class="btn btn-purple btn-sm edit-dept-btn"
                                data-id="@employee.Id"
                                data-code="@employee.EmpCode"
                                data-name="@employee.Name"
                                data-email="@employee.Email"
                                data-department="@employee.Department"
                                data-grade="@employee.Grade"
                                data-client="@employee.Client">
                            <span class="material-symbols-rounded">edit</span>
                        </button>
                        <a class="btn btn-red btn-sm text-white delete-dept-btn">
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/dashboard/js/employees.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/dashboard/css/tables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" />
}
