@model List<Grade>
@section AlertsSection {
    @await Html.PartialAsync("_Alert")
}
<table id="employeesTable" class="table-custom hover cell-border table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Code</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Id</td>
                <td>@grade.Name</td>
                <td>@grade.LevelCode</td>
                <td>
                    @if (grade.IsActive)
                    {
                        <span class="badge text-bg-success w-50 py-2">Active</span>
                    }
                    else
                    {
                        <span class="badge text-bg-secondary w-50 py-2">Inactive</span>
                    }
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <button class="btn btn-purple btn-sm edit-dept-btn"
                                data-id="@grade.Id"
                                data-name="@grade.Name"
                                data-code="@grade.LevelCode"
                                data-active="@grade.IsActive"
                                data-description="@grade.Description">
                            <span class="material-symbols-rounded">edit</span>
                        </button>
                        <a class="btn btn-red btn-sm text-white delete-dept-btn" data-id="@grade.Id">
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/dashboard/js/grade.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/dashboard/css/tables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" />
}
